#skills {
  min-height: 100dvh;
  color: var(--main-green);
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #272727;
}

.content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6rem 0;
}

#skills h1 {
  font-size: clamp(2.3rem, 3vw + 1rem, 4rem);
  font-family: var( --ff-spaceMono);
}


.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 70%;
  align-self: center;
  margin-bottom: 8rem;
}

.skill-type .title {
  font-size: clamp(2.5rem, 2vw + 1rem, 4rem);
  font-family: var(--ff-spaceMono);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 50px;
}

.skills-icons {
    display: flex;
    justify-content: center;
    font-size: 4rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: -10px;   
}

#double-set-icons{
  position: relative;
  cursor: pointer;
/*   border-bottom:  2px dotted;
  padding: 7px; */
}

.icon{
  font-size: 6rem;
}

.icon-description{
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
  color: #fff;
  white-space: nowrap;
  padding: 1rem 1rem;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease;
  font-size: 2rem;
}

#double-set-icons:hover .icon-description{
 top: 80%;
 visibility: visible;
 opacity: 1;
}
