 #about {
  min-height: 100dvh;
  width: 100svw;
  background-color: #50cb94;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  color: #171717;
  display: flex;
  padding: 1rem;
  justify-content: center;
  
}

.content-about{
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  margin: 6rem 0;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  word-spacing: 2px;

  gap: clamp(2rem,0.5vw + 1rem,10rem);
  padding: 10px;
}


#about h1 {
  font-size: clamp(2.3rem, 3vw + 1rem, 4rem);
  font-family: var( --ff-spaceMono);
  margin-bottom: 5rem;
}



.about-text h3 {
  width: 40vw;
  font-size: clamp(1.2rem, 0.8vw + 1rem, 1.5rem);
  backdrop-filter: blur(1.5px);
  line-height: 30px;
}

.missing {
  color: rgb(117, 13, 13);
}

.javascript {
  text-decoration: underline wavy black;
}

.img-container{
  display: flex;
  justify-content: flex-start;
}
.portrait {
  width: clamp(200px,32vw + 1rem, 400px);
  height: auto;
}

@media screen and (max-width: 1000px) {

  #about{
    justify-content: center;
    padding-bottom: 70px;
  }

  #about h1 {
    font-size: clamp(2.3rem, 3vw + 1rem, 4rem);
    margin-bottom: 0;
  }
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    }
  .about-text h3 {
    width: 80vw;
    line-height: 2.3rem;
  }
}

 
 