#contact {
  min-height: 100vh;
  color: var(--main-green);
  background-color: #272727;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-black);
  padding: 2rem;
}

.title {
  margin-bottom: 5rem;
  font-size: clamp(2rem, 10vw + 1rem, 5rem);
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1.5rem;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: var(--main-green);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 203, 148, 1) 85%
  );
  color: var(--main-black);
  font-size: 2rem;
  font-family: var(--ff-spaceMono);
}

.textarea {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 203, 148, 1) 85%
  );
  color: var(--main-black);
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
  font-size: 2rem;
  font-family: var(--ff-spaceMono);
}

::placeholder {
  color: var(--main-black);
  opacity: 0.65;
}

.button {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: var(--main-green);
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  font-size: 2rem;
  transition: background-color, transform 0.5s;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: var(--ff-spaceMono);
  color: var(--main-black);
}

.button:hover {
  background-color: var(--main-green);
  transform: scale(1.03);
}

.cv-btn{
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: rgb(34, 193, 195);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 203, 148, 1) 85%
  );
  font-size: 2rem;
  transition: background-color, transform 0.5s ease-in-out;
  display: flex;
  margin-top: 5rem;
  height: 34px;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  font-family: var(--ff-spaceMono);
  text-decoration: none;
  color: var(--main-black);
}

.cv-btn:hover{
  transform: scale(1.02);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(80, 203, 148, 1) 0%,
    rgba(34, 193, 195, 1)85%
  );
}

.icons {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  margin-top: 1.5rem;
  gap: 1.5rem;
}
.icon1,
.icon2 {
  width: 50px;
  height: 50px;
  color: var(--main-green);
  transition: 0.3s ease-in;
}

.icon1:hover,
.icon2:hover {
  transform: scale(1.05);
  color: rgb(40, 113, 80);
  color: rgb(34, 193, 195);
}
.icon2 {
  height: 43px;
}

@media screen and (max-width: 500px) {
  .input, .textarea, .cv-btn, .button{
    font-size: 1.5rem;
  }



  .title {
    margin-bottom: 3rem;
  }
}
