#contact {
  min-height: 100vh;
  color: var(--main-green);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-black);
  padding: 14px;
}

.title {
  margin-bottom: 14px;
  font-size: clamp(2rem,10vw + 1rem,5rem);
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: var(--main-green);

  color: var(--main-black);
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

.textarea {
  background-color: var(--main-green);
  color: var(--main-black);
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize:none;
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

::placeholder
 { 
  color: var(--main-black);
  opacity: 0.65;
} 



.button {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: var(--main-green);
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  font-size: 2rem;
  transition: background-color, transform 1s;

}

.button:hover {
  background-color: rgb(91, 176, 91);
  transform: scale(1.02);
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  gap:1.5rem;
}
.icon1{
  width: 50px;
  height: 50px;
  color: var(--main-green);
}
.icon2{
  width: 50px;
  height: 43px;
  color: var(--main-green);
}

