nav{
  display: none;
}

#navbar-desktop{
    height: 4rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: min(2vw,3.5rem);
    letter-spacing: 0.2rem;
    position:fixed;
    z-index: 100;
    font-size: clamp(1.6rem, 0.7vw + 1rem,2.1rem);
    border-radius: 0 0 40px 40px;
    background-image: url("/src/assets/dotted_black_background.png");
    background-size:cover;
    background-position: 0;
    background-color: rgba(0, 0, 0, 0.437);
    backdrop-filter: blur(5px);
   
}

.nav-Links{
    color: aliceblue;
    margin-left: 4rem;
}
.navegation{
    font-family: var(--ff-spaceMono);
}


.last-Link{
  margin-right: 3rem;
}

.nav-Links2 {
    color: #dad8d8;
    text-decoration: none;
    transition: ease-out 0.5s;
    
  }
.nav-Links2:hover{
    color: #50CB94;
    text-decoration: none;
    letter-spacing: 0.3rem;
  }

.maria{
    color: #50CB94;
    transition: ease-in 0.5s;
}
.maria:hover{
    color: #cfe0d8;
}

@media screen and (max-width: 1000px) {
  #navbar-desktop{
    display: none;
  }

  nav {
    background-image: url("/src/assets/dotted_black_background.png");
    background-size:cover;
    background-position: 0;
    background-color: rgba(0, 0, 0, 0.136);
    backdrop-filter: blur(5px);
    width:80%;
    max-width: 400px;
    display: block;
    padding:clamp(1rem, 3vw, 1.6rem);
    z-index:100;
    left:50%;
    transform: translateX(-50%);
    position: fixed;
    bottom:2rem;
    display:flex;
    justify-content: center;
    gap:1rem;
    border-radius: 3.5rem;
  }
    
    nav a {
      color: rgba(255, 255, 255, 0.87);
        background: transparent;
        padding:0.8rem;
        border-radius: 50%;
        display: flex;
        font-size: clamp(1.65rem, 2vw, 4rem);
    }
    
    nav a:hover {
        background:#2e8d6079;
    }
    
    nav a:active {
        background: rgba(0 , 0 , 0, 0.3);
        color: var(--main-green);
    }

}